.cartContent {
    display: flex;
    box-shadow: 1px 1px 1px 1px gray;
    background-color: rgba(229, 220, 220, 0.16);
    width: 600px;
    height: 80px;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 20px;

    img {
        width: 80px;
        height: 80px;
    }

    .checkbox {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        font-size: 30px;        
    }

    .info {
        padding: 10px;
        font-size: 14px;
        width: 250px;

        .name {
            font-weight: bolder;
            margin-bottom: 10px;
        }
    }

    .countContent {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        div:hover {
            color: red;
            cursor: pointer;
        }
        span {
            width: 25px;
            padding-bottom: 5px;
            text-align: center;
        }
    }

    .cancelBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        width: 50px;
        font-size: 30px;
        cursor: pointer;
        :hover {
            color: red
        }
    }
}