.todo-list-item {
    display: flex;
    padding: 10px;
    &:nth-child(2n-1) {
        background-color: darkgray;
    }
    .check-box {
        display: flex;
        align-items: center;
        flex: 1;
    }

    .remove {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}