.todo-list-item {
    display: flex;
    padding: 10px;
    
    &:nth-child(2n-1) {
        background-color: darkgray;
    }
    .checkbox {
        display: flex;
        align-items: center;
        flex: 1;
        :hover {
            cursor: pointer;
        }
    }
    
    .checked {
        text-decoration: line-through;
        color: rgb(195, 187, 187);
    }

    .remove {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        :hover {
            cursor: pointer;
            color: red;
        }
    }
}