.header {
    display: flex;
    align-items: center;
    background-color: rgb(227, 219, 219);
    font-size: 10px;
    width: 100%;
    height: 32px;
    .leftHeader {
        width: 100px;
        position: absolute;
        left: 250px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    .rightHeader {
        width: 150px;
        position: absolute;
        right: 200px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: black;
    }
}

