.modal {
    background-color: white;
    color: black;
    z-index: 1;
    position: absolute;
    width: 120px;
    top: 132px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 3px 5px 5px gray;
    padding: 10px;
}