.logo {
    display: flex;
    justify-content: center;
    img {
        width: 200px;
        height: 100px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

.loginForm {
    display: flex;
    justify-content: center;

    .userIdIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #c3b9d6;
        border-top: solid 1px black;
        border-left: solid 1px black;
        border-bottom: solid 1px black;
        box-sizing: border-box;
        font-size: 20px;
    }

    .userId {
        width: 450px;
        height: 50px;
        font-size: 15px;
        padding-left: 10px;
        box-sizing: border-box;
        border: solid 1px black;

    }

    .passwordIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #c3b9d6;
        border-top: solid 1px black;
        border-left: solid 1px black;
        border-bottom: solid 1px black;
        box-sizing: border-box;
        font-size: 20px;
    }

    .password {
        width: 450px;
        height: 50px;
        font-size: 15px;
        padding-left: 10px;
        box-sizing: border-box;
        border: solid 1px black;
    }

    .loginBtn {
        width: 500px;
        height: 50px;

        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 15px;

        background-color: #c3b9d6;
        color: white;

        border: 0;
        box-shadow: 1px 1px 5px gray;
        cursor: pointer;

    }

    .signupBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 50px;

        font-size: 20px;
        font-weight: bolder; 

        margin-bottom: 15px;
        margin-top: 15px;

        background-color: white;
        color:#c3b9d6;

        border: 0;
        box-shadow: 1px 1px 5px gray;
        text-decoration: none;
        cursor: pointer;

    }
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 10px;
}