.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    .category {
        width: 100px;
        height: 80px;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: rgb(70, 152, 229);
        color: white;
    }

    .home {
        width: 200px;
        height: 50px;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
        }
    }


    .mypage {
        font-size: 15px;
        margin-right: 20px;
        cursor: pointer;
        .mypageImage {
            font-size: 30px;
            display: flex;
            justify-content: center;
        }
    }

    .basket {
        font-size: 15px;
        cursor: pointer;

        .basketImage {
            font-size: 30px;
            display: flex;
            justify-content: center;
        }

    }
}