.searchList {
    position: absolute;
    width: 535px;
    background-color: white;
    z-index: 1;
    box-shadow: 2px 2px 2px gray;
    font-size: 14px;
    padding: 10px;
    padding-bottom: 0;
    box-sizing: border-box;
}