.searchForm {
    display: flex;
    align-items: center;
    border: solid 2px blue;
    margin-right: 10px;
    height: 35px;
    .searchInput{
        width: 500px;
        height: 30px;
        font-size: 15px;
        border: none;
        display: flex;
        padding-left: 10px;
        box-sizing: border-box;
    }

    button {
        all: unset;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
}