.todo-insert {
    display: flex;
    
    input {
        flex: 1;
        font-size: 25px;
        background-color: black;
        color: white;
    }

    button {
        display: flex;
        align-items: center;
        font-size: 25px;

        cursor: pointer;
    }
}