.content {
    width: 200px;
    margin-top: 10px;
    .image {
        height: 150px;
        width: 500px;
        display: flex;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .name {
        display: flex;
        justify-content: center;
    }

    .price {
        display: flex;
        justify-content: center;
    }
}