@keyframes slide-fade-in-dropdown-animation {
    0% {
      transform: translateY(-50%);
    }
  
    100% {
      transform: translateY(0);
    }
}


.fadeIn {
    position: absolute;
    top: 102px;
    z-index: 1;
    background-color: white;
    box-shadow: 3px 3px 3px gray;
    width: 150px;
    animation: slide-fade-in-dropdown-animation 0.4s ease;

  }





@keyframes slide-fade-out-dropdown-animation {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-100%);
    }
}

.fadeOut {
    position: absolute;
    top: 102px;
    z-index: 1;
    background-color: white;
    box-shadow: 3px 3px 3px gray;
    width: 150px;
    animation: slide-fade-out-dropdown-animation 0.4s ease;

    li {
        list-style: none;
    }
  }