.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    .logo {
        width: 200px;
        height: 100px;
        margin-right: 15px;
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
        }
    }


    .mypage {
        margin-right: 20px;
        cursor: pointer;
        .mypageImage {
            font-size: 30px;
            display: flex;
            justify-content: center;
        }
        span {
            font-size: 15px;
        }
        
    }

    .basket {
        cursor: pointer;

        .basketImage {
            font-size: 30px;
            display: flex;
            justify-content: center;
        }

        span {
            font-size: 15px;
        }

    }
}